.user-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 4rem;
}

.user-info .user-texts {
  width: 100%;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  max-width: 60rem;
}

.user-texts p {
  font-size: 2.6rem;
}

.user-texts span {
  font-size: 2rem;
  color: var(--clr-gray);
}

.user-info .user-img {
  width: 33rem;
  height: 42rem;
  background: var(--clr-black-300);
  border-radius: 2rem;
}
