.event-list .events-title span {
  color: var(--clr-gray);
  font-weight: 300;
}

.event-list .svg-list {
  height: 70rem;
}

.event-list table {
  width: 100%;
  text-align: center;
  padding: 0 1.6rem 1rem 1.6rem;
  border-spacing: 0 2rem;
}

/* TABLE BUTTONS */
.event-list .event-list-btn {
  width: 25%;
  padding-inline: 1rem;
}

.event-list .event-list-btn a + a {
  margin-left: 2rem;
}

/* TABLE HEAD */
.event-list table th {
  font-weight: 400;
  background: var(--clr-black-100);
  box-shadow: 0 2rem 0 var(--clr-black-100);
  padding: 1rem 0.5rem 0 0.5rem;
  border-left: 0.2rem solid var(--clr-black);
}

.event-list table tr {
  width: 100%;
  background: var(--clr-black);
}

.event-list table td {
  border-left: 0.2rem solid var(--clr-black-100);
  height: 8rem;
}

/* BORDER RADIUS */
.event-list table td:first-child {
  border-radius: 0 0 0 2rem;
}

.event-list table td:last-child {
  border-radius: 0 0 2rem 0;
}

.event-list table th:first-child {
  border-radius: 2rem 0 0 0;
}

.event-list table th:last-child {
  border-radius: 0 2rem 0 0;
}

.scroll-container {
  height: 68rem;
  overflow-y: scroll;
  margin-block-start: 4rem;
}
