.container-title span {
  color: var(--clr-primary);
  background-image: var(--clr-grad-orange);
  background-clip: text;
  font-weight: 500;
  color: transparent;
  animation: gradient 2s linear infinite alternate;
  -webkit-background-clip: text;
}

.main {
  padding-bottom: 10rem;
}

.main-img {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.main button {
  margin-top: 7rem;
  display: block;
  margin-inline: auto;
}

.main h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.event-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-img-container svg {
  width: 100%;
  display: block;
  max-width: 60rem;
}

svg #check_2 #Vector_9 {
  animation: check 1.8s linear infinite alternate;
}

@keyframes check {
  to {
    filter: brightness(2) drop-shadow(0 0 1rem #009d53)
      drop-shadow(0 0 1rem #009d53);
  }
}
